@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=League+Spartan:wght@500;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;300;400;500;600;700;800&family=Poppins:wght@100&family=Roboto:wght@100;300;400;500;700;900&family=Tilt+Neon&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

    
 }

@tailwind base;
@tailwind components;
@tailwind utilities;


/* NAVBAR ************************************************************************************************************* */
.navbarLink a {
   background-image: linear-gradient(
    to right,
    #EB6B23,
    #EB6B23 50%,
    #ffffff 50%
  );
  font-weight: 600 !important;
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.navbarLink a:before{
  content: '';
  background: #EB6B23;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.navbarLink a:hover {
   background-position: 0;
  }
  
.navbarLink a:hover::before{
    width: 100%;
  }

  .categoryDropdown::-webkit-scrollbar {
    width: 9px;
  }

  /* .categoryDropdown::-webkit-scrollbar-track {
    background: #ffffff;
  } */

  .categoryDropdown::-webkit-scrollbar-thumb {
    background-color: #454545;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  /* Categories */


  /* Service *******************************************************************************************************************/
  .TRS{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
  }

  .TRS:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .TRS_Container {
    scrollbar-color: #4a90e2 #e0e0e0; /* Scrollbar color (track, thumb) */
  }
  
  .TRS_Container::-webkit-scrollbar, .RS_Container::-webkit-scrollbar {
    height: 0px;
    width: 1px; /* Width of the scrollbar */
  }

  /* Carousel Dot */
  .custom-dot-list-style {
    margin-top: 20px; /* Adjust margin as needed */
  }


  /* How it works************************************************************** */

  .HIW_box {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  /* Spinner STYLE */
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

/* Image gallery */
.image-gallery-original{
  margin-top: 25px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 460px;
}

.image-gallery-original img {
  height: 450px ;
  width: 100%;
  object-fit: cover !important;
  border-radius: 6px;
  
}

.image-gallery-thumbnail img{
  height: 90px;
  /* width: 200px !important; */
  object-fit: cover !important;
  border-radius: 3px;
}

.image-gallery-thumbnail{
  height: 100px;
  width: 16.4% !important;
  object-fit: cover !important;
  border-radius: 3px;
}

.image-gallery-icon {
  color: red; /* Change the arrow color */
  font-size: 24px; /* Change the arrow size */
}

/* View Profile */
.misc_container{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sched_container{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.formatted-input{
  resize: both;
}

.slidingBorder {
  border-bottom: 3px solid #EB6B23; /* Initial border */
  width: 0; /* Initial width (hidden) */
  transition: width 0.5s; /* Transition property for width */
}

.active {
  width: 100%; /* Expanded width after button click */
}

.thumbnailForGallery {
  max-width: 240px; /* Adjust the desired width */
  max-height: 240px; /* Adjust the desired height */
}

.galleryImage{
  border-radius: 100px;
}

.galleryContainer::-webkit-scrollbar {
  width: 9px;
}

/* .categoryDropdown::-webkit-scrollbar-track {
  background: #ffffff;
} */

.galleryContainer::-webkit-scrollbar-thumb {
  background-color: #454545;
  border-radius: 10px;
  border: 2px solid #ffffff;
}


/* service registration */
.gcashNote::-webkit-scrollbar{
  height: 0px;
  width: 1px; /* Width of the scrollbar */
}



.customBG{
  background-image: url(./Pages/ServiceRegistration/Utils/images/background4.svg) !important;
  background-size: cover;
}


/*  */
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media screen and (max-width: 767px) {
    .customBG{
      background-image: url(./Pages/ServiceRegistration/Utils/images/background6.svg) !important;
      background-size:cover;
      background-position:bottom;
      /* background-repeat: no-repeat; */
    }
  }

@media screen and (max-width: 500px) {
  .components_menu {
    width: 92vw !important;
  }
}

@media screen and (max-width: 440px) {
  .service_card{
    height: 70%;
    width: 95%;
  }
}